@font-face {
  font-family: "Regular";
  src: url(../font/Jim_Nightshade/JimNightshade-Regular.ttf);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.8rem;
}

a {
  font-size: 2rem;
}
