/* ! ++++++++++ BASIC ++++++++++ */

@font-face {
  font-family: "Regular";
  src: url(../font/Jim_Nightshade/JimNightshade-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Regular", serif;
}

:root {
  --main: #e4d3a0;
  --light: #5c282f;
  --medium: #410e1a;
  --dark: #21050f;
  --deepbrown: #2a1205;
  --white: white;
  --black: black;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

.bg {
  background-color: var(--main);
}

/* ! ++++++++++ ANIMATION ++++++++++ */

@keyframes float {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

/* ! ++++++++++ INTRO ++++++++++ */

@keyframes intro {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animation-text {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--black);
  background-color: #e4d3a0;
  text-align: center;
  opacity: 0;
  animation: intro 5s linear forwards;
}

/* ! ++++++++++ HEADER ++++++++++ */

header {
  height: 5rem;
}

header h1 {
  text-align: center;
  padding: 2vh 0;
}

/* ! ++++++++++ MAIN ++++++++++ */

/* ++++++++++ NAV ++++++++++ */

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 1rem;
  left: 25%;
  z-index: 2;
  width: 50%;
  height: 5rem;
  border-radius: 10px;
  background-color: var(--main);
  border: 3px solid var(--light);
  box-shadow: 0px 0px 5px var(--black);
}

/* ++++++++++ KARTE ++++++++++ */

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #e4d3a0;
  z-index: 0;
}

.karte {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.marker {
  background-image: url("../img/Schritte.gif");
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  cursor: pointer;
}

/* ++++++++++ Hogwarts ++++++++++ */

.label {
  background-image: url("../img/Hogwarts.png"), url("../img/Schriftrolle.png");
  background-position: right, center;
  background-size: contain, cover;
  background-repeat: no-repeat;
  color: black;
  text-align: center;
  padding-top: 10px;
  font-size: 22px;
  width: 175px;
  height: 40px;
  animation: float 2s linear 0s infinite normal none;
}

/* ++++++++++ Gryffindor ++++++++++ */

.label-g {
  background-image: url("../img/Gryffindor.png"), url("../img/Schriftrolle.png");
  background-position: right, center;
  background-size: contain, cover;
  background-repeat: no-repeat;
  color: black;
  text-align: center;
  padding-top: 10px;
  font-size: 22px;
  width: 175px;
  height: 40px;
  animation: float 2s linear 0s infinite normal none;
}

/* ++++++++++ Slytherin ++++++++++ */

.label-s {
  background-image: url("../img/Slytherin.png"), url("../img/Schriftrolle.png");
  background-position: right, center;
  background-size: contain, cover;
  background-repeat: no-repeat;
  color: black;
  text-align: center;
  padding-top: 10px;
  font-size: 22px;
  width: 175px;
  height: 40px;
  animation: float 2s linear 0s infinite normal none;
}

/* ++++++++++ Hufflepuff ++++++++++ */

.label-h {
  background-image: url("../img/Hufflepuff.png"), url("../img/Schriftrolle.png");
  background-position: right, center;
  background-size: contain, cover;
  background-repeat: no-repeat;
  color: black;
  text-align: center;
  padding-top: 10px;
  font-size: 22px;
  width: 175px;
  height: 40px;
  animation: float 2s linear 0s infinite normal none;
}

/* ++++++++++ Ravenclaw ++++++++++ */

.label-r {
  background-image: url("../img/Ravenclaw.png"), url("../img/Schriftrolle.png");
  background-position: right, center;
  background-size: contain, cover;
  background-repeat: no-repeat;
  color: black;
  text-align: center;
  padding-top: 10px;
  font-size: 22px;
  width: 175px;
  height: 40px;
  animation: float 2s linear 0s infinite normal none;
}

/* ! ++++++++++ FOOTER ++++++++++ */

footer {
  height: 10rem;
}

footer h3 {
  text-align: center;
  padding-bottom: 1rem;
}

/* ! ++++++++++ MOBILE ++++++++++ */

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }
}
